{extend name="index_layout"/}
{block name="main"}
<form class="layui-form" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">Category ID</label>
        <div class="layui-input-block">
            <input id="c-cid" lay-verify="required" class=" layui-input" name="row[cid]" type="number" value="{$data.cid}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Type 1: Single Choice 2: Multiple Choice 3: Short answer</label>
        <div class="layui-input-block">
            <input id="c-type" lay-verify="required" class=" layui-input" name="row[type]" type="number" value="{$data.type}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">题目</label>
        <div class="layui-input-block">
            <input id="c-title" lay-verify="required" class=" layui-input" name="row[title]" type="text" value="{$data.title}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">选项id集合</label>
        <div class="layui-input-block">
            <input id="c-options" class=" layui-input" name="row[options]" type="text" value="{$data.options}">
        </div>
    </div>
    <div class="layui-form-item layer-footer">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
<script type="text/javascript">
layui.use('yznForm', function() {
    var yznForm = layui.yznForm;
    yznForm.bindevent($("form.layui-form"));
});
</script>
{/block}