{extend name="index_layout"/}
{block name="main"}
<form class="layui-form" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">cid</label>
        <div class="layui-input-block">
            <input id="c-cid" class=" layui-input" name="row[cid]" type="number" value="{$data.cid}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">分段边界值起始</label>
        <div class="layui-input-block">
            <input id="c-score_start" lay-verify="required" class=" layui-input" name="row[score_start]" type="number" value="{$data.score_start}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">分段边界值结束</label>
        <div class="layui-input-block">
            <input id="c-score_end" lay-verify="required" class=" layui-input" name="row[score_end]" type="number" value="{$data.score_end}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">result</label>
        <div class="layui-input-block">
            <textarea id="c-result" class=" layui-textarea" rows="5" name="row[result]" cols="50">{$data.result}</textarea>
        </div>
    </div>
    <div class="layui-form-item layer-footer">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
<script type="text/javascript">
layui.use('yznForm', function() {
    var yznForm = layui.yznForm;
    yznForm.bindevent($("form.layui-form"));
});
</script>
{/block}