{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header"></div>
    <div class="layui-card-body">
        <div class="layui-form">
            <table class="layui-hide" id="currentTable" lay-filter="currentTable"
                data-auth-add="{:$auth->check('category.score/add')}" 
                data-auth-edit="{:$auth->check('category.score/edit')}"
                data-auth-delete="{:$auth->check('category.score/del')}"
                data-auth-recyclebin="{:$auth->check('category.score/recyclebin')}"
                ></table>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
layui.use('yznTable', function() {
    var table = layui.yznTable;

    var init = {
        table_elem: '#currentTable',
        table_render_id: 'currentTable',
        add_url: '{:url("add")}',
        edit_url: '{:url("edit")}',
        delete_url: '{:url("del")}',
        modify_url: "{:url('multi')}",
        recyclebin_url: "{:url('recyclebin')}",
    };

    table.render({
        init: init,
        toolbar: ['refresh', 'add', 'delete'],
        url: '{:url("score")}',
        searchInput: false,
        cols: [
            [
               {type: 'checkbox', fixed: 'left' },
               {field: 'id', title: 'id',minWidth:80},
               {field: 'category.name', title: '量表分类',minWidth:200, searchOp: 'LIKE',minWidth:110},
               {field: 'score_start', title: '分段起始值',minWidth:40},
               {field: 'score_end', title: '分段结束值',minWidth:40},
               {field: 'result', title: '结论',minWidth:80},
               {field: 'userCount', title: '人数',minWidth:80},
            ]
        ],
        page: {}
    });

    yznTable.bindevent();
});
</script>
{/block}